@media (min-width: 576px) {
    .crumbs, .subtitle {
        font-size: large;
    }

    .cart-info p {
        font-size: large;
    }

    .cart-info button {
        font-size: large;
    }

    button {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}