@media (min-width: 576px) {
    img {
        height: 12rem;
        width: 12rem;
    }

    header h2 {
        width: 69%;
    }

    h2 {
        font-size: large;
    }

    p {
        font-size: medium;
    }
}

@media (min-width: 768px) {
    img {
        height: 20rem;
        width: 20rem;
    }

    h2 {
        font-size: x-large;
    }
    
    p {
        font-size: large;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    

    h2 {
        font-size: large;
    }
    
    p {
        font-size: medium;
    }
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin: 1rem;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: flex-start;
}

button {
    margin-left: auto;
}

img {
    object-fit: cover;
    margin: 0 auto;
}

.item-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}