@media (min-width: 576px) {
    .cart-header {
        font-size: x-large;
    }
    
    button {
        font-size: large;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}